<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/home"></ion-back-button>
    </ion-buttons>
    <ion-title> Mapa</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar  placeholder="Partida" show-clear-button="focus"></ion-searchbar>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar  placeholder="Destino" show-clear-button="focus"></ion-searchbar>
  </ion-toolbar>
  <ion-toolbar >
    <div>
      <ion-button fill="outline" size="small"   routerLink="/pro-d">Preparar viaje</ion-button>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-img src="../../../assets/img/mapa_ph.png">  </ion-img>
</ion-content>