.wrapper {
  display: flex;
  flex-wrap: wrap;

  align-items: center;
  justify-content: space-between;
  text-align: center;

  height: 100%;
}

.ripple-parent {
  position: relative;
  overflow: hidden;
}

.rectangle {
  width: 100%;
  height: 100%
}

.custom-parent {
  height: 35%;
}

.imgn{
  height: 130px;
  text-align: center;
}

