<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Viajar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-grid>
      <ion-row *ngFor="let via of lista_viajes">
        <ion-col>
          <h3>{{ via.destino }} </h3>
        </ion-col>
        <ion-col size="auto">
          <ion-button (click)="mostrarMapa(via)" fill="clear"><ion-icon name="add-circle-outline" size="large"> </ion-icon></ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>